*{
    color: rgb(72, 72, 72);
}
.recipesDetails{
    border: 1px solid transparent;
    border-radius: 3%;
    padding: 0px 0px;
}
.mealCard img{
    width: 98%;
    height: auto;
    border-radius: 5%;
}
.mealCard:hover{
    cursor: pointer;
    background-color:#fff4f1;
    border-radius: 96%;
}
.details{
    background-color: white;
    border:1px solid transparent;
    padding: 2%;
    border-radius:3%;
}
.promotion{
    background-color: #FDBA09;
    padding: 20px;
    border-radius: 4%;
}
.cart{
    border-top: 1px solid whitesmoke;
    padding: 10px;
}
.checkout{
    background-color: #F5F5F5; 
    text-align: center;
    padding: 10px;
    border-radius: 2%;
    box-shadow: 1px 1px 1px gainsboro;
    border-bottom: 9px dotted white;
}
.subtotal{
    background-color: #F5F5F5; 
    text-align: center;
    border-radius: 2%;
    box-shadow: 1px 1px 1px gainsboro;
}
